---
import sarchiRe from "../assets/relax-sarchi.jpeg";
import { Image } from "astro:assets";
import { TAGS } from "../constans/tags";

---

<article class="flex flex-col md:flex-row gap-8 items-center">
    <div class="overflow-hidden rounded-3xl shrink-0 shadow-lg border-2 border-transparent hover:border-gray-500 transition-all w-48 h-48 md:w-56 md:h-56">
        <Image
            src={sarchiRe}
            alt="sarchi-re"
            class="w-full h-full object-cover hover:scale-110 transition-transform duration-500"
        />
    </div>
    <div class="border-t-2 md:border-t-0 md:border-l-2 border-white pt-6 md:pt-0 md:pl-8">
        <div class="text-base font-normal text-gray-200 text-pretty space-y-4">
            Como <span class="text-yellow-200">Desarrollador</span>, he liderado y ejecutado proyectos exitosos, aplicando metodologías ágiles y herramientas para entregar resultados por encima de lo esperado. Mi sólida capacidad técnica, combinada con una comunicación efectiva, me permite construir y gestionar equipos de alto rendimiento, impulsando la innovación y la calidad.
        </div>
    </div>
</article>

<div class="w-full md:w-4/5 mx-auto">
<h3 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center justify-center text-white pb-3 py-10">Tecnologias</h3>
<ul class="flex flex-wrap justify-center gap-4 mt-8">
    {Object.values(TAGS).map((tag) => (
        <li>
            <span class="flex items-center gap-2 text-xs bg-white/10 border border-white/10 px-3 py-1 rounded-full">
                <tag.icon class="size-4" />
                {tag.name}
            </span>
        </li>
    ))}
</ul>
</div>
