---
import ExperiencieItem from "./ExperiencieItem.astro";
import { EXPERIENCIE } from "../constans/experiencie";

---

<ol class="relative border-s border-whitedark:border-white ml-3">
    {
        EXPERIENCIE.map((experiencie: any) => (
            <li class="mb-10 ms-4">
                <ExperiencieItem {...experiencie} />
            </li>
        ))
    }
</ol>
